/* Estilos gerais */
:host {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  background-color: #f5f5f5;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 400px;
}

.users-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.user-card {
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
}

.user-card img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-bottom: 10px;
}

button {
  margin-top: 10px;
}

/* Estilos de cores */
.primary-color {
  background-color: #3f51b5;
  color: #ffffff;
}

.accent-color {
  background-color: #ff4081;
  color: #ffffff;
}

.mat-input {
  width: 100%;
  padding: 6px 10px;
  font-size: 14px;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: 4px;
}

.mat-button {
  padding: 8px 16px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.02857em;
  border-radius: 4px;
  cursor: pointer;
}

.mat-card-avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-bottom: 10px;
}
